[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "dotbot-npm"]
	path = dotbot-npm
	url = https://github.com/ameliagapin/dotbot-npm
